caption{
font-family: 'Indie Flower', cursive;
font-size: 26px;
}

th,td{
	border: 1px solid grey;
}
table{
	border: 1px solid grey;
 	border-collapse: collapse;
 	font-family: 'Fira Sans', sans-serif;
 
}
a:link
{
text-decoration:none;
} 